@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Bold.ttf");
}

body {
  background-image: url(../images/plastics.jpg);
  color: #7F164F;
  font-family: "Clear Sans";
  text-align: center;
}

.title {
  font-size: 24px;
  color: white;
}

.outterDiv {
  width: 470px;
  padding: 0;
}

.board {
  background-color: #FEA3FF;
  width: 470px;
  height: 470px;
  margin: 20px 0px 50px 0px;
  padding: 7px;
  border-radius: 2px;
}

.cell {
  background: #FF78C1;
  border: 2px solid #FF2C9E;
  border-radius: 1px;
  float: left;
  font-size: 3em;
  height: 100px;
  margin: 7px;
  width: 100px;
}

.cell div {
  margin-top: 20px;
}

.val-0 {
  background: white;
  text-align: right;
}

.val-2 {
  background-image: url(../images/tile2.jpg);
  background-size: 100px;
  text-align: right;
}

.val-4 {
  background-image: url(../images/tile4.jpg);
  background-size: 100px;
  text-align: right;
}

.val-8 {
  background-image: url(../images/tile8.jpg);
  background-size: 100px;
  text-align: right;
}

.val-16 {
  background-image: url(../images/tile16.jpg);
  background-size: 100px;
  text-align: right;
}

.val-32 {
  background-image: url(../images/tile32.jpg);
  background-size: 100px;
  text-align: right;
}

.val-64 {
  background-image: url(../images/tile64.jpg);
  background-size: 100px;
  text-align: right;
}

.val-128 {
  background-image: url(../images/tile128.jpg);
  background-size: 100px;
  text-align: right;
}

.val-256 {
  background-image: url(../images/tile256.jpg);
  background-size: 100px;
  text-align: right;
}

.val-512 {
  background-image: url(../images/tile512.jpg);
  background-size: 100px;
  text-align: right;
}

.val-1024 {
  background-image: url(../images/tile1024.jpg);
  background-size: 100px;
  text-align: right;
}

.val-2048 {
  background-image: url(../images/tile2048.jpg);
  background-size: 100px;
  text-align: right;
}


.score {
  background-color: #FF78C1;
  border: 2px;
  border-radius: 2px;
  height: 30px;
  width: 100px;
  float: right;
  margin-top: 30px;
}

.actual-score {
  font-size: 18px;
  margin-top: 3px;
}

.title {
  float: left;
}

#restart_game {
  background-color: #FF78C1;
  border: 2px;
  border-radius: 2px;
  height: 50px;
  width: 100px;
  float: right;
  margin-top: 10px;
}

.quote-and-restart-container {
  width: 470px;
  height: 60px;
  margin-top: 70px;

}

.quote {
background-color: #FEA3FF;
float: left;
margin-top: 10px;
padding-top: 0px;
height: 50px;
width: 350px;
border-radius: 2px;
}

.actual-quote {
  font-style: italic;
  font-size: 14px;
  margin-top: 15px;
}

